---
import Nav from '../components/Nav.astro'
import HeroSection from '../components/HeroSection.astro'
import Layout from '../layouts/Layout.astro'
import Model3 from '../components/Model3.astro'
---

<Layout title="Tesla Landpage.">
	<Nav />
	<main
		class="relative w-full h-screen snap-y snap-mandatory overflow-y-auto overflow-x-hidden scroll-smooth"
	>
		<div class="snap-center"><HeroSection /></div>
		<div class="snap-center"><Model3 /></div>
		<div class="snap-center"><HeroSection /></div>
		<div class="snap-center"><Model3 /></div>
	</main>
</Layout>
