<section
	class="landing-section relative overflow-hidden bg-black h-screen w-screen text-center"
	data-header-color="white"
>
	<div class="relative z-30 h-full flex flex-col">
		<header>
			<h2 class="text-white pt-40 text-[40px] font-medium">Experience Tesla</h2>
			<p class="text-white text-sm">Schedule a Demo Drive Today</p>
		</header>

		<footer class="flex flex-col flex-grow flex-nowrap justify-end pb-20">
			<div>
				<a
					class="inline-block border-[3px] border-white backdrop-blur-3xl bg-white/5 rounded px-20 py-2 font-normal text-sm text-white hover:bg-white hover:text-black transition-colors"
					href="#">Demo Drive</a
				>
			</div>
		</footer>
	</div>

	<div class="absolute top-0 bottom-0 h-full w-full z-10">
		<video
			class="h-full w-full object-cover object-center"
			autoplay
			muted
			loop
			src="/tesla-video.webm"></video>
	</div>
</section>
