<section
	class="landing-section relative overflow-hidden bg-black h-screen w-screen text-center"
	data-header-color="black"
>
	<div class="relative z-30 h-full flex flex-col">
		<header>
			<h2 class="text-black pt-40 text-[40px] font-medium">Model 3</h2>
			<p class="text-black text-sm">Starting at $32,740</p>
			<p class="text-black text-sm">After Federal Tax Credit</p>
		</header>

		<footer class="flex flex-col flex-grow flex-nowrap justify-end pb-20">
			<div class="flex justify-center gap-x-6">
				<a class="inline-block rounded px-20 py-2 font-normal text-sm text-black bg-white" href="#"
					>Explore Inventory
				</a>

				<a
					class="inline-block rounded px-20 py-2 font-normal text-sm text-white bg-black/40 hover:bg-black hover:text-white transition-colors"
					href="#"
					>Custome Order
				</a>
			</div>
		</footer>
	</div>

	<div class="absolute top-0 bottom-0 h-full w-full z-10">
		<img src="/model3.avif" alt="Model 3" class="h-full w-full object-cover object-center" />
	</div>
</section>
